---
import Layout from '../layouts/Layout.astro';
import { AnimatedBackground } from '../components/animated-background';
import { HeroSection } from '../components/hero-section';
import { HomeContent } from '../components/home-content';
---
<Layout title="Home">
  <div class="relative overflow-hidden">
    <AnimatedBackground client:load />
    <HeroSection client:load />
    <HomeContent client:visible />
  </div>
</Layout>
